* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.login, .register {
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
}
.login h1, .register h1 {
    text-align: center;
    color: #000000;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}
.login .links, .register .links {
    display: flex;
    padding: 0 15px;
}
.login .links a, .register .links a {
    color: #000000;
    text-decoration: none;
    display: inline-flex;
    padding: 0 10px 10px 10px;
    font-weight: bold;
}
.login .links a:hover, .register .links a:hover {
    color: #9da3ac;
}
.login .links a.active, .register .links a.active {
    border-bottom: 3px solid #76fc6a;
    color: #76ffa4;
}
.login form, .register form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.login form label, .register form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #76ff98;
    color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"], .login form input[type="email"], .register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}
.login form input[type="submit"], .register form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #7aff81;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}
.login form input[type="submit"]:hover, .register form input[type="submit"]:hover {
    background-color: #76ff6a;
    transition: background-color 0.2s;
}
.login form input[type="submit"]:active, .register form input[type="submit"]:active {
    background-color: #042201;
    transition: background-color 0.2s;
}

/*base.html */

/* Header styling */
header {
    background-color: lightgreen;
    padding: 10px;
    color: white;
    /*text-align: center;*/
    justify-content: flex-start;
    width: 100%;
}

/* Animation for the entire background */
body {
    background-color: transparent;
    animation: animateBackground 4s linear infinite;
}

@keyframes animateBackground {
    0% {
        background-color: rgba(249, 249, 249, 0.2);
    }
    50% {
        background-color: rgba(249, 249, 249, 0.8);
    }
    100% {
        background-color: rgba(249, 249, 249, 0.2);
    }
}


/* Styling base.html */
/*.layout_page {
    background-color: white;
    padding: 10px;
    margin: 10px; 
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}*/

.liststyle {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.liststyle li {
    margin: 0 10px;
}

.liststyle li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.liststyle li a:hover {
    color: rgb(246, 255, 254);
}

.messages {
    background-color: lightyellow;
    padding: 10px;
    list-style-type: none;
    margin: 10px 0;
    border-radius: 5px;
}
