* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
}

body {
    background-color: #f2f2f2;
    text-align: center;
}

.form-group {
    text-align: center;
}

#single-form {
    margin: 0 auto;
    width: 50%;
    display: block;
    
}